<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        {{ title }}
      </nb-card-header>
      <nb-card-body>
        <form #form="ngForm" (ngSubmit)="action('publish')">
          <div class="form-group">
            <div class="col-12">
              <input
                type="text"
                nbInput
                fullWidth
                status="primary"
                [(ngModel)]="post.post_title"
                #postTitle="ngModel"
                name="title"
                id="inputTitle"
                required="required"
                placeholder="标题"
                [status]="postTitle.dirty ? (postTitle.invalid  ? 'danger' : 'success') : 'basic'"
              >
              <ng-container *ngIf="postTitle.invalid && postTitle.touched">
                <p class="caption status-danger mt-1" *ngIf="postTitle.errors?.required">
                  标题不能为空!
                </p>
              </ng-container>
            </div>
          </div>

          <div class="form-group">
            <div class="col-12">
              <ng-container *ngIf="editorMode==='markdown';then markdown else ckeditor"></ng-container>
            </div>
          </div>
          <ng-template #markdown>
            <app-markdown-editor name="markdown" [(ngModel)]="post.post_content"></app-markdown-editor>
          </ng-template>
          <ng-template #ckeditor>
            <ckeditor
              id="editorContent"
              [editor]="Editor"
              [config]="editorOptions" (ready)="onReady($event)"
              [(ngModel)]="post.post_content"
              name="content"
            ></ckeditor>
          </ng-template>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
