<div class="row">
  <div class="col">
    <nb-card>
      <nb-card-header>
        {{mode[currentMode]}}{{ title }}
        <div class="float-right" *ngIf="role.id > 0">
          <button size="small" status="success" (click)="currentMode='create';role = {}" nbButton><nb-icon icon="plus"></nb-icon></button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <form #ngForm="ngForm" (ngSubmit)="action($event)">
          <div class="form-group row">
            <label for="inputName" class="label col-lg-2 col-form-label">名称</label>
            <div class="col-lg-10">
              <input type="text"
                     nbInput
                     fullWidth
                     #name="ngModel"
                     [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'primary'"
                     [(ngModel)]="role.name"
                     required="required"
                     placeholder="角色名"
                     name="name"
                     id="inputName">
              <ng-container *ngIf="name.invalid && name.touched">
                <p class="caption status-danger" *ngIf="name.errors?.required">
                  名称不能为空!
                </p>
              </ng-container>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPermission" class="label col-lg-2 col-form-label">权限</label>
            <div class="col-lg-10">
              <app-tree id="inputPermission" [items]="menus" (selectedChange)="permissionSelected($event)"></app-tree>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
              <button status="primary" size="small" [disabled]="submitted || !ngForm.valid" nbButton>{{mode[currentMode]}}</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col">
    <nb-card>
      <nb-card-header>
        {{ title }}
        <div class="float-right mr-3">
          <button nbButton status="success" size="small" (click)="refreshMenu()">刷新菜单</button>
        </div>
      </nb-card-header>

      <nb-card-body>
        <ng2-smart-table
          [settings]="settings"
          [source]="source"
          (edit)="edit($event)"
          (delete)="delete($event)"
        >
        </ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
