@import "~github-markdown-css";

.markdown-body ol {
  list-style: decimal;
}
.markdown-body ul {
  list-style: disc;
}

.table-of-contents {
  padding-left: 13px;
  list-style: disc;
}
.table-of-contents li a {
  font-weight: bold;
  font-size: 14px;
}
.table-of-contents ul {
  padding-left: 13px;
  list-style: circle;
}
.table-of-contents ul a {
  font-size: 12px;
}
